

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}




.navbar {
    display: flex;
    padding: 10px 20px;
    align-items: first baseline !important;
    flex-direction: row;
    justify-content: first baseline;

}

a:visited{
    text-decoration:  none;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff
}