@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}


a:link{
    text-decoration: none;
    color: #fff
}

a:visited {
  color: #fff; 
  text-decoration: none; 
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 150px;
    gap: 25px;
    
}


form {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px 5px;
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 15px;
    background-color: #007bff;
    color: white;
    width: 150px;
    border-radius: 5px 5px;

}