

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
</head>
<body>

   
   <!-- Div: Links Navbar -->
 <div class="navbar">
    <a href="stock.html">Search</a>
    <a href="portfolio_room.html">Portfolio</a>
    <a href="home.html">Home</a>
    <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 
 </div>





<h1>Welcome to the homepage of Lumina! </h1>

<p>Here you can find various resources and information about our project.</p>

<p>Feel free to explore the links in the navigation bar above to access different sections of our site.</p>

<p>If you have any questions or need assistance, please don't hesitate to reach out. <a href=""></a></p>


</body>
</html>








