
.venv/
venv/
ENV/
node_modules/
MarketSight/node_modules/

MarketSightBack/MSOAI.py
MarketSightBack/training_models.py
MarketSight/settings.py
**/.env

*.pkl
*.json
!requirements.txt
!package.json
db.sqlite3



**/__pycache__/
*.py[cod]
.venv

**/MSOAI.py
**/training_models.py
MarketSight/MarketSight/settings.py
**/.env