# Environments & Modules
.venv/
venv/
ENV/
node_modules/
MarketSight/node_modules/

# Sensitive Logic & Secrets
MarketSightBack/MSOAI.py
MarketSightBack/training_models.py
MarketSight/settings.py
**/.env

# Data & Models
*.pkl
*.json
!requirements.txt
!package.json
db.sqlite3

# Assets & Screenshots
*.png
*.jpg
*.jpeg

# Python Cache
**/__pycache__/
*.py[cod]
.venv

**/MSOAI.py
**/training_models.py
MarketSight/MarketSight/settings.py
**/.env