

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   
</head>
<body>

   {% block content %}
   <!-- Div: Links Navbar -->
 <div class="navbar">
   <a href="{% url 'assistance' %}">Support</a>
   <a href="{% url 'room' %}">Portfolio</a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
     <a href="{% url 'search' %}">Search</a>
    <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 
 </div>





<h1>Welcome to the homepage of MarketSight! </h1>

<p>Here you can find various resources and information about our project.</p>

<p>Feel free to explore the links in the navigation bar above to access different sections of our site.</p>

<p>If you have any questions or need assistance, please don't hesitate to reach out. <a href="{% url 'assistance' %}"></a></p>


 <div>
   <h1>Top Performer Today:</h1>
   
 </div>
 {% endblock content %}




</body>
</html>








