
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <title>Document</title>
   
</head>
<body>
   {% block content %}



   <!-- Div: Links Navbar -->
     <div class="navbar">
    <a href="{% url 'assistance' %}">Support</a>
    <a href="{% url 'room' %}">Portfolio</a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
   <a href="{% url 'search' %}">Search</a>
    <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 
 </div>

 

   <div class="search-bar">
      <h1>MarketSight</h1>
      <div class="search-container">
         {% csrf_token %}
         <form action="GET">
          <input type="text" placeholder="Search for Stocks..." name="search" required>
         <button type="submit">Search</button>

       </form>

      
      </div>

   </div>

   <!-- Div: Top Performer Today -->
 <div class="greet_user">

   {% if user.is_authenticated %}
      <p> Welcome! {{user.username}}</p>

   {% else %}

      <a href="{% url 'login' %}"> 
         <p>Please Login to take advantage of our tools!. We Welcome you into the adventure of financial freedom!</p> 
   </a>
  
   {% endif %}
 </div>



 {% endblock content %}
 

   scrip
</body>
</html>








