@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #f4f4f4;
    color: white;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}


.navbar{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

.navbar a:hover{
    background: transparent;
    transform: scale(1.1);
    box-shadow: 0 0 10px #57A0C1,
                0 0 20px #57A0C1,
                0 0 40px #57A0C1,
                0 0 80px #57A0C1;
    text-shadow: 0 0 5px #FFF,
                 0 0 10px #57A0C1,
                 0 0 20px #57A0C1;
    transition: all 0.3s ease;

}




a{
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    
}

.stock_info *{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: block;
}


.gen-ai{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: block;

}




.stock_info {
    border: #434343;

    
}