
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{%  static 'style.css' %}">
   <title>Document</title>
   
</head>
<body>
   {% block content %}

   <!-- Div: Links Navbar -->
     <div class="navbar">
    <a href="{% url 'assistance' %}">Support</a>
    <a href="{% url 'room' %}">Portfolio</a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'login' %}">Login</a>
    <!-- For Portfolio, I wanna have a redirection if the condiition is not met that will make sure users are signed up --> 
 </div>

 

   <div class="search-bar">
      <h1>Lumina</h1>
      <div class="search-container">
         <form action="">
          <input type="text" placeholder="Search for Stocks..." name="search" required>
         <button type="submit">Search</button>

       </form>

      
      </div>

   </div>

   <!-- Div: Top Performer Today -->
 <div class="top-performer">
  
   <h1>Top Performer Today:</h1>

   

 </div>
 {% endblock content %}







</body>
</html>








